
  
  <!-- 
NAME @: Paras Kumar Yadav 
TOPIC @: Risk Analytics Model Deployment
DATE @: 19/04/2021 
-->

  
  <!-----------------------------  BASE SECTION  ----------------------------------->

  
  <!-- 
NAME @: Paras Kumar Yadav 
TOPIC @: Risk Analytics Model Deployment
DATE @: 19/04/2021 
-->

<!DOCTYPE html>
<html>
<title>Risk Analytics</title>

<!-----------------------------  EXTERNAL LIB SECTION  ----------------------------------->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>



<!-----------------------------  CSS SECTION  ----------------------------------->
<style>
    body, html {
      height: 100%;
      font-family: "Inconsolata", sans-serif;
    }
    
    .bgimg {
      background-position: center;
      background-size: cover;
      background-image: src=("/loan_approved_hero_image.jpg");‪
      min-height: 75%;
    }

    #table1 {
      width:800px;
      margin: auto;
    
    }


    #form1 {

      border: 5px solid black;
      padding: 20px 20px 20px 30px;
      background-color: lightblue;


    }


    
</style>


<!-----------------------------  BODY SECTION  ----------------------------------->

<body>  
<!-----------------------------  HEADER SECTION  ----------------------------------->


    <header class="bgimg w3-display-container w3-grayscale-min" id="home">

        <div class="w3-display-bottomleft w3-center w3-padding-large w3-hide-small">
            <span class="w3-tag">Created By Paras Kumar Yadav</span>
        </div>

        <center><div class=" w3-padding-16 " >
          <span class="w3-text-white w3-tag w3-wide " style="font-size:70px">Risk Analysis</span>
      </div></center>

        <div class="w3-display-bottomright w3-center w3-padding-large">
            <span class="w3-text-white">Using Support Vector Machine </span>
        </div>

    </header>


    
<!----------------------------- EXTENSION  ----------------------------------->
    


  <!---------------------------  HOME BODY SECTION   ------------------------------>

<!-- Add a background color and large text to the whole page -->
<div class="   w3-pale-red  w3-large">

    <!-- About Container -->
    <div class="w3-container" id="about">

        <div class="w3-content" style="max-width:800px">

            <h5 class="w3-center w3-padding-32"><span class="w3-tag w3-wide">ABOUT THE PROJECT</span></h5>
            
            <h3>Credit Risk : </h3>

            <br>

            <p>Credit risk is nothing but the default in payment of any loan by the borrower. 
                In Banking sector this is an important factor to be considered before approving 
                the loan of an applicant.
            </p>

            <br>

            <h3>Impact of Credit Risk :</h3>

            <br>

           

            <p>Taking into consideration the factors that will decide whether a person will pay 
               back the loan or not is crucial for banks. This is a common credit risk problem 
               which is solved using analytics.
            
            </p>
        
    
        </div>
    </div>

<br>
<br>

  <!-----------------------------  FORM SECTIOIN  ----------------------------------->

    <div class="w3-content" id="form1" style="max-width:800px">

    <center>
    <h1>Please fill out the form below</h1>
    </center>
    <br>
    <hr>

    <form   method="POST">
        
        <input id="csrf_token" name="csrf_token" type="hidden" value="IjM0ZWJkNzBjNmU0N2MyMjg5MzUwOWU4MDNlOTk2MTIxZmNhZDQ0NGYi.YKRBRg.4GZUNMFOxuhNEWkUjIfmoNwiRKI">

        <label for="Name">Enter Your Full Name :    </label><input id="Name" name="Name" required type="text" value="">
        <hr>

        <label for="Gender">Please choose your Gender : </label> <ul id="Gender"><li><input id="Gender-0" name="Gender" type="radio" value="1"> <label for="Gender-0">Male</label></li><li><input id="Gender-1" name="Gender" type="radio" value="0"> <label for="Gender-1">Female</label></li></ul>
        <hr>

        <label for="Maritual">Please choose your Marital status : </label> <ul id="Maritual"><li><input id="Maritual-0" name="Maritual" type="radio" value="1"> <label for="Maritual-0">Married</label></li><li><input id="Maritual-1" name="Maritual" type="radio" value="0"> <label for="Maritual-1">Unmarried</label></li></ul>
        <hr>

        <label for="Dependent">Enter Total Number Of Dependent People : </label> <input id="Dependent" name="Dependent" required type="text" value="">
        <hr>

        <label for="Education">Educational Details : </label> <ul id="Education"><li><input id="Education-0" name="Education" type="radio" value="1"> <label for="Education-0">Not-Graduate</label></li><li><input id="Education-1" name="Education" type="radio" value="0"> <label for="Education-1">Graduate</label></li></ul>
        <hr>

        <label for="Employment">Are you self Employed : </label> <ul id="Employment"><li><input id="Employment-0" name="Employment" type="radio" value="1"> <label for="Employment-0">Yes</label></li><li><input id="Employment-1" name="Employment" type="radio" value="0"> <label for="Employment-1">No</label></li></ul>
        <hr>

        <label for="Aincome">Applicant Income In Thousand $ : </label> <input id="Aincome" name="Aincome" required type="text" value="">
        <hr>

        <label for="Cincome">Co-applicant Income In Thousand $ : </label> <input id="Cincome" name="Cincome" required type="text" value="">
        <hr>

        <label for="LoanAmount">Total Loan Amount In Thousand $ :  </label> <input id="LoanAmount" name="LoanAmount" required type="text" value="">
        <hr>

        <label for="LoanTerm">Duration Of Loan In No Of Months : </label> <input id="LoanTerm" name="LoanTerm" required type="text" value="">
        <hr>

        <label for="credit">Do You Have Any Credit Histoy : </label> <ul id="credit"><li><input id="credit-0" name="credit" type="radio" value="1"> <label for="credit-0">Yes</label></li><li><input id="credit-1" name="credit" type="radio" value="0"> <label for="credit-1">No</label></li></ul>
        <hr>

        <label for="Property">Pick Your Property Area :</label> <select id="Property" name="Property"><option value="0">Rural</option><option value="1">Semiurban</option><option value="2">Urban</option></select>
        <hr>

        Any other feedback?
        <br>
        <textarea id="feedback" name="feedback"></textarea>

        <br>
     
        <hr>

        <div class="w3-center">

            <input id="submit" name="submit" type="submit" value="Submit">

        </div>

       

    </form>



    </div>

  <!----------------------------------------------------------------------------->




</div>


<!----------------------------------------------------------------------------->





</body>
<!-----------------------------  FOOTER SECTION  ----------------------------------->

<footer class="w3-container w3-black w3-center w3-margin-top">
    <p>Find me on social media.</p>
  
      
      <br>
      <br>
    </footer>
  </html>

  <!-----------------------------  THE END  ----------------------------------->